
.lifeApp {
  /* height: 100%; */
  text-align: center;
  background-color: #FFFACD;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23FFEE33' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  color: #030A8C
}
 
.title {
  font-family: bookman;
  margin-top: 10px;
}

.header {

  color: #020873;
  background-color: white;
  font-family: bookman;
  padding: 1rem;
}

.nav {
  background-color: #F2F2F2;
  font-family: bookman;
}

.home {
  min-height: 80vh;
}

.profile {
  margin-top: 25px;
}

.paragraph {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
}

.ProjectCard1 {
  margin-top: 5rem;
}

.ProjectTitle {
  color: #27418C;
  font-family: bookman;
}

.tech {
  padding-bottom: 3%;
 }

.resume {
  min-height: 90vh;
}

.button {
margin-top: 30vh;
}

.tech{
  padding: 10%;
}

.contact {
  min-height: 70vh;
}

.clickToEmail {
  margin-top: 25px;
  margin-bottom: 15px;
}

.emailInfo {
  margin-top: 25px;
  margin-bottom: 15px;
}

.phoneInfo {
  margin-top: 25px;
  margin-bottom: 15px;
}


.footer {
  background-color: #25A6D9;
}
















